<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <h2><%= @article.title %></h2>
        <p class="post-meta">
          <%= @article.created_at.strftime('Posted on %F') %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_article_path(@article), class: 'ml-2' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <article>
          <p>
            <%= markdown(@article.content) %>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
