<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <h2><%= @article.title %></h2>
        <p class="post-meta">
          <%= @article.created_at.strftime('Posted on %F') %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_article_path(@article), class: 'ml-2' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <article>
          <p><%= markdown(@article.content) %></p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab hic iure dolorem iste expedita consectetur rerum molestias, suscipit quia, dignissimos harum officia fugiat minus, assumenda vero ex nemo reprehenderit unde modi? Incidunt, optio laudantium facilis fugiat esse placeat asperiores, voluptate cumque quos iste exercitationem voluptates. Tempora iusto consequuntur illum quaerat! Ipsum aliquam assumenda excepturi quasi facilis, eos in qui distinctio ab temporibus saepe nostrum iste dolorum voluptatibus nobis expedita, enim incidunt sit, voluptates reprehenderit quidem repellendus earum eum laboriosam? Iste perferendis dolores harum illo in fugit amet eum, at cumque doloremque veritatis omnis vero excepturi porro repellendus cum ut pariatur.</p>
        </article>
      </div>
    </div>
  </div>
</div>
