<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <%= link_to 'https://twitter.com/lynnchang1004', target: '_blank' do %>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
            </a>
          </li>
          <li class="list-inline-item">
            <%= link_to 'https://twitter.com/lynnchang1004', target: '_blank' do %>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
            </a>
          </li>
          <li class="list-inline-item">
            <%= link_to 'mailto:tv725987@gmail.com', target: '_blank' do %>
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          Copyright &copy; Lynn's Dev Blog <%= Time.zone.now.year %>
        </p>
      </div>
    </div>
  </div>
</footer>
